

html,body{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    

}
canvas{
    border: 5px dotted darkslategrey;
}
header{
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: lightslategray;
    text-align: center;
}
#container{
    
    width : 1000px;
    
    background-image: url(images/spaceBackground.jpg);
}

footer {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: rgb(170, 200, 255);
    justify-content: right;
}


