html, body{
    background-color: lightgreen;
    color: teal;
    font-weight: bold;
}
h1{
    margin: auto;
    border: 25px solid coral;
    padding: 30px;
    background-color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: darksalmon;
    font-stretch: semi-expanded;

}
p{
    width: 400px;
    margin-top: 100px;
    border: 6px dashed darkolivegreen;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}