html,body{
    display: flex;
    justify-content: center;
}
canvas{
    border: 5px dotted rgb(223, 203, 114);
    background-image: url(images/desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}