body{
    display:flex;
    justify-content:center;
    color: darkgreen;
    size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    display:flex;
    justify-content:center;
}
#container{
    box-sizing:border-box;
    width:1018px;
    border:5px solid darkolivegreen;
    padding:7px;
}
canvas{
    border: 1px solid black;
    box-sizing:border-box;
}
a:link, a:visited{
    display:inline-block;
    background-color:rgb(236, 138, 218);
    padding:10px;
    margin:20px;
}